## General

kube_namespace: "default"

# Deploy cockpit on the local node (will be exposed using Traefik)
cockpit: true

# Node IP range
node_ip_range: "192.168.100"

# Domain we will be using
domain: "mydomain.com"

# These variables are used by the playbook to set up the environment
downloads_dir: "/downloads"

# This determines if we need to create a PV and PVC for the downloads directory
persistent_volume: true

# In the workdir, we create a directory for each service to hold config files, this is the name of the directory
# Where applicable, a PV and PVC will be created for this directory
workdir: "/k3s"

# Turn this on to show debug outputs

debug: true

# NFD (Node Feature Discovery) is a tool that allows Kubernetes to automatically detect and configure features on nodes.
# This is used to set up the correct drivers for the GPU cards/ serial devices
nfd_enabled: true

# This variable determines if we should enable Nvidia GPU support and if it is used by Jellyfin
nvidia_enabled: false

# This variable determines if we should enable Intel GPU support and if it is used by Jellyfin
intel_enabled: true

# This variable determines if we deploy Akri or not (see: https://docs.akri.sh/) and if it gets used by Home Assistant
akri_enabled: true

# This variable tells Akri which udev devices to look for
# udev:
#   - name: "rfxcom"
#     vendor: "0403"
#     product: "6001"
#   - name: "zwave"
#     vendor: "10c4"
#     product: "ea60"


# This variable determines the IP address we will use for all the services (Traefik basically).
# Make sure the IP is in your network range but is outside of the DHCP range
loadbalancer_cidr: "192.168.100.200/30"

## Traefik

# This variable determines if Traefik will be deployed or not 
# NOTE: All other services assume Traefik will be up and running, use this only to deploy services to an already running Traefik environment
traefik: true

# provider: Traefik supports DNS challenges for Letsencrypt, this playbook supports 'azuredns' and 'cloudflare' providers. You can also set it to 'none'
# and fill out the cert_key and cert_pem variables
trfk_acme_provider: "cloudflare"

# Azure provider credentials, use when provider is 'azuredns'
# trfk_AZURE_CLIENT_ID:
# trfk_AZURE_SECRET:
# trfk_AZURE_SUBSCRIPTION_ID:
# trfk_AZURE_TENANT:

# Cloudflare provider credentials, use when provider is 'cloudflare'
# trfk_CF_API_EMAIL: ""
# trfk_CF_API_KEY: ""
# trfk_CF_DNS_API_TOKEN: ""

# Email address to use for letsencrypt
trfk_acme_email: "me@mydomain.com"

# external_hosts: A map of external services you want to link to Traefik. E.g. a service running on the host (192.168.1.250) on port 10000
# trfk_external_hosts:
#   - name: "cockpit"
#     address: k3s-node01.mydomain.com
#     port: 9090
#     scheme: "https"
#     skipverify: true
#   - name: "router"
#     address: router.mydomain.com
#     port: 443
#     scheme: "https"
#     skipverify: true

# api access
trfk_api_username: "admin"
trfk_api_password: "admin"

# grafana

# grafana username and password
grafana_user: "admin"
grafana_password: "admin"

# discord url for notifications
discord_url: ""

# headscale vars
# headscale: true
# headcloudflare_tunnel_token: ""

# homeassistant vars
homeassistant: true
ha_config_dir: "/configs/homeassistant"

# Do not use dashes
ha_wakeonlan:
  lg_tv:
    mac: "ac:5a:f0:ff:cc:11"
  bpm_pc:
    mac: "00:d8:61:dc:5b:42"

# extra config, put everything else you need in the configuration.yaml here
extra_config:
  toon:
    client_id: 
    client_secret: 

  adaptive_lighting:

# mosquitto vars
mosquitto: true

# sabnzbd vars
sabnzbd: true
snzb_config_dir: "/configs/sabnzbd"

# Sonarr vars
sonarr: true
snr_config_dir: "/configs/sonarr"

# Service to remux HEVC Main 10 video with earc audio (avoids transcoding on LG WebOS)
sonarr_lg_remux: true

# Radarr vars
radarr: true
rdr_config_dir: "/configs/radarr"

# Bazarr vars
bazarr: true
bzr_config_dir: "/configs/bazarr"

# Seerr vars
seerr: true
srr_config_dir: "/configs/srr"

# Jellyfin vars
jellyfin: true
jf_config_dir: "/configs/jellyfin"

# slskd vars
slskd: true
slskd_config_dir: "/configs/slsk"

