apiVersion: v1
kind: Secret
metadata:
  name: {{ slr_service }}-secrets
  namespace: {{ slr_kube_namespace }}
type: Opaque
stringData:
  api-token: "{{ xml_output.matches[0].ApiKey | default('API_KEY_NOT_FOUND') }}"
