apiVersion: v1
kind: Secret
metadata:
  name: "{{ fjr_service }}-forgejo-runner-config"
  namespace: "{{ fjr_kube_namespace }}"
type: Opaque
stringData:
  config.yaml: "{}"
  .runner: |
    {
      "id": 1,
      "uuid": "{{ fjr_instance_uuid }}",
      "name": "{{ fjr_runner_name }}",
      "token": "{{ fjr_instance_token }}",
      "secret": "",
      "address": "{{ fjr_instance_url }}"
    }