image:
  registry: "data.forgejo.org"
  repository: "forgejo/runner"
  tag: "{{ fjr_runner_image_tag }}"
  pullPolicy: "{{ fjr_runner_image_pull_policy }}"

runner:
  config:
    create: false
    existingSecret: "{{ fjr_service }}-forgejo-runner-config"
    file:
      runner:
        labels:
          - "ubuntu-latest:docker://docker.io/catthehacker/ubuntu:act-24.04"
          - "rust-latest:docker://docker.io/catthehacker/ubuntu:rust-24.04"
          - "ansible-ee:docker://docker.io/bpmbee/ansible-ee:2026.6.11"
        fetch_timeout: "30s"
        envs:
          A_TEST_ENV_NAME_1: null
          A_TEST_ENV_NAME_2: null
          DOCKER_HOST: tcp://127.0.0.1:2376
          DOCKER_TLS_VERIFY: 1
          DOCKER_CERT_PATH: /certs/client
      container:
        network: host
        enable_ipv6: false
        privileged: true
        options: -v /certs/client:/certs/client
        valid_volumes:
          - /certs/client

volumeMounts:
  - name: local-path-cache-volume
    mountPath: /root/.cache/actcache

volumes:
  - name: local-path-cache-volume
    persistentVolumeClaim:
      claimName: "{{ fjr_service }}-local-path-cache"
