apiVersion: "cilium.io/v2"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "loadbalancer-pool"
spec:
  blocks:
  - cidr: "{{ ik3s_loadbalancer_cidr }}"
  serviceSelector:
    matchLabels:
      "app.kubernetes.io/name": "traefik"
