apiVersion: v1
kind: Secret
metadata:
  name: grafana-user
  namespace: {{ kps_namespace }}
stringData:
  admin-user: "{{ kps_grafana_user }}"
  admin-password: "{{ kps_grafana_password }}"
type: Opaque
