{# # Additional volumes on the output Deployment definition.
volumes:
  - name: {{ msqt_service }}-data
    persistentVolumeClaim:
      claimName: {{ msqt_service }}-data
  - name: configmap-volume
    configMap:
      name: {{ msqt_service }}

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: configmap-volume
    mountPath: /mosquitto/config/mosquitto.conf
    subPath: mosquitto.conf
  - name: mosquitto-data
    mountPath: /mosquitto/data
    readOnly: false #}

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9090"
  prometheus.io/path: "/"

prometheus_export:
  enabled: true
  image: docker.io/bpmbee/mosquitto-exporter:latest
  port: 9090
  interval: 10s
  environment:
    - name: MQTT_HOST
      value: "127.0.0.1"
    - name: MQTT_PORT
      value: "1883"
    - name: MQTT_TLS
      value: "false"