apiVersion: v1
kind: Secret
metadata:
  name: "{{ lr_service }}-secrets"
  namespace: "{{ lr_kube_namespace }}"
type: Opaque
stringData:
  sonarr_api_token: "{{ sonarr_api_token.matches[0].ApiKey | default('') }}"
  radarr_api_token: "{{ radarr_api_token.matches[0].ApiKey | default('') }}"
  discord_url: "{{ discord_url | default('') }}"
