apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: "{{ pv_kube_namespace }}"
  name: "{{ pv_name_label }}"
spec:
  storageClassName: "{{ pv_name_label}}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ pv_volume_size}}"

