---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-auth-secret
  namespace: {{ trfk_kube_namespace }}  
type: kubernetes.io/basic-auth
stringData:
  username: {{ trfk_api_username }}
  password: {{ trfk_api_password }}
