apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ item.name }}-ui
  namespace: {{ trfk_kube_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: "Host(`{{ item.name }}.{{ domain }}`)"
      kind: Rule
      services:
        - name: {{ item.name }}-ui
          port: {{ item.port }}
          scheme: {{ item.scheme }}
{% if item.skipverify | default(false) %}
          serversTransport: external-skipverify
{% endif %}
  tls:
    certResolver: acme_resolver