apiVersion: v1
kind: Secret
metadata:
  name: traefik-dnschallenge-credentials
  namespace: {{ trfk_kube_namespace }}
stringData:
{% if trfk_acme_provider == "azure" %}
  AZURE_CLIENT_ID: "{{ trfk_AZURE_CLIENT_ID }}"
  AZURE_CLIENT_SECRET: "{{ trfk_AZURE_CLIENT_SECRET }}"
  AZURE_SUBSCRIPTION_ID: "{{ trfk_AZURE_SUBSCRIPTION_ID }}"
  AZURE_TENANT_ID: "{{ trfk_AZURE_TENANT_ID }}"
  AZURE_RESOURCE_GROUP: "{{ trfk_AZURE_RESOURCE_GROUP}}"
{% elif trfk_acme_provider == "cloudflare" %}
  CF_API_EMAIL: "{{ trfk_CF_API_EMAIL }}"
  CF_API_KEY: "{{ trfk_CF_API_KEY }}"
  CF_DNS_API_TOKEN: "{{ trfk_CF_DNS_API_TOKEN }}"
{% endif %}
type: Opaque
