apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ snzb_service }}
  namespace: {{ snzb_kube_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ snzb_service }}.{{ domain }}`)
    kind: Rule
    services:
      - name: {{ snzb_service }}
        port: {{ snzb_service_port }}
        scheme: http
  tls:
    certResolver: acme_resolver
